{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'users-home'  %}">Головна</a></li>
                    <li><a href="{% url 'users-profile'  %}">Профіль</a></li>
                    <li>Зміна пароля</li>
                </ol>
            </div>
        </div>
    </section>
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="{% static "media/login.jpg" %}" class="img-fluid">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <label class="small" style="font-size: 14px;" for="id_old_password">Старий пароль</label>
                            <input type="password" name="old_password" autocomplete="new-password"
                                   class="form-control" required id="id_old_password"
                                   placeholder="Enter Old Password"/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="small" style="font-size: 14px;" for="id_new_password1">Новий пароль</label>
                            <input type="password" name="new_password1" autocomplete="new-password"
                                   class="form-control" required id="id_new_password1"
                                   placeholder="Enter New Password"/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="small" style="font-size: 14px;" for="id_new_password2">Повторити новий пароль</label>
                            <input type="password" name="new_password2" autocomplete="new-password"
                                   required id="id_new_password2" class="form-control"
                                   placeholder="Confirm New Password"/>
                        </div>
                        <button type="submit" class="col-md-12 button w3-section" id="reset">Оновити пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
