{% extends "home/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'users-home' %}">Головна</a></li>
                    <li>Профіль</li>
                </ol>
            </div>
        </div>
    </section>
    <section>
        <div class="container" data-aos="fade-up">
            <div class="w3-row-padding">
                <div class="w3-third">
                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="w3-display-container">
                            <img src="{{ user.client.avatar.url }}" style="width:100%" alt="Avatar"/>
                            <div class="w3-display-bottomleft w3-container w3-text-black">
                                <h2>{{ user.username }}</h2>
                            </div>
                        </div>
                        <div class="w3-container" style="margin-top: 14px;">
                            <p><i class="fa fa-user fa-fw w3-margin-right w3-large" style="color: #1e4356"></i><label style="color: #1e4356">Ім'я:</label> {{ user.first_name}} {{user.last_name }}</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large" style="color: #1e4356"></i><label style="color: #1e4356"> Email:</label> {{ user.email }}</p>
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large" style="color: #1e4356"></i><label style="color: #1e4356">Тип користувача:</label> {{ user.client.user_type }}</p>
                            <p><i class="fa fa-group fa-fw w3-margin-right w3-large" style="color: #1e4356"></i><label style="color: #1e4356">Тип акаунта:</label> {{ user.client.account_type }}</p>
                            <hr>
                            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right" style="color: #1e4356"></i>Оновити інформацію профіля</b></p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <label class="small" style="font-size: 14px;">Логін</label>
                                    {{ user_form.username }}
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="small" style="font-size: 14px;">Email</label>
                                    {{ user_form.email }}
                                </div>
                                <div class="form-outline mb-4">
                                    <a style="font-size: 14px;" href="{% url 'password_change' %}">Змінити пароль</a>
                                    <hr>
                                    <label class="small" style="font-size: 14px;">Змінити фото профіля</label>
                                    <div style="font-size: 16px;">
                                        {{ profile_form.avatar }}
                                    </div>
                                </div>
                                <br>
                                <button type="reset" class="col-md-4 w3-right button w3-section" style="margin-top:45px; margin-left: 5px;">Скинути</button>
                                <button type="submit" class="col-md-5 w3-right button w3-section" style="margin-top:45px;">Зберегти зміни</button>
                            </form>
                            <br>
                        </div>
                    </div><br>
                </div>

                <div class="w3-twothird">
                    {% if request.user.client.user_type == 'Customer' %}
                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge" style="color: #1e4356"></i>Мої оголошення без відповіді</h2>
                            {% for advert in adverts %}
                                {% if advert.status == 'Not active'%}
                                    <div class="w3-container">
                                        <h3 class="entry-title">
                                            <a href="{% url 'advert' advert.id %}">{{ advert.title }}</a>
                                        </h3>
                                        <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ advert.created_at|date:"N j Y" }}</h6>
                                        {% for section in advert.sections.all %}
                                            <span class="tag" style="font-size: 11px;">{{ section }}</span>
                                        {% endfor %}
                                        <br><br>
                                        <p>{{ advert.description|truncatewords:20 }}</p>
                                        <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-hourglass-start fa-fw w3-margin-right w3-xxlarge" style="color: #1e4356"></i>У розробці</h2>
                            {% for advert in adverts %}
                                {% if advert.status == 'In development' %}
                                    <div class="w3-container">
                                        <h3 class="entry-title">
                                            <a href="{% url 'advert' advert.id %}">{{ advert.title }}</a>
                                        </h3>
                                        <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ advert.created_at|date:"N j Y" }}</h6>
                                        {% for section in advert.sections.all %}
                                            <span class="tag" style="font-size: 11px;">{{ section }}</span>
                                        {% endfor %}
                                        <br><br>
                                        <p>{{ advert.description|truncatewords:20 }}</p>
                                        <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="w3-container w3-card w3-white">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-check-square-o fa-fw w3-margin-right w3-xxlarge" style="color: #1e4356"></i>Завершені проекти</h2>
                            {% for advert in adverts %}
                                {% if advert.status == 'Developed' or advert.status == 'Confirmed' %}
                                    <div class="row">
                                        <div class="col-lg-8 entries">
                                            <div class="w3-container">
                                                <h3 class="entry-title">
                                                    <a href="{% url 'advert' advert.id %}">{{ advert.title }}</a>
                                                </h3>
                                                <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ advert.created_at|date:"N j Y" }}</h6>
                                                {% for section in advert.sections.all %}
                                                    <span class="tag" style="font-size: 11px;">{{ section }}</span>
                                                {% endfor %}
                                                <br><br>
                                                <p>{{ advert.description|truncatewords:20 }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        {% if advert.status == 'Developed' %}
                                            <div class="col-lg-4 entries">
                                                <form method='POST' class='w3-row'>
                                                    {% csrf_token %}
                                                    <div class="w3-container">
                                                        <button name="confirmation" value="{{ advert }}" type="submit" class="button w3-right w3-section" style="margin-top:45px; margin-left: 5px;">Підтвердити виконання</button>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="w3-container w3-card w3-white">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-hourglass-start fa-fw w3-margin-right w3-xxlarge" style="color: #1e4356"></i>Мої проекти в розробці</h2>
                            {% for project in projects %}
                                {% if project.status == 'In development' %}
                                    <div class="row">
                                        <div class="col-lg-8 entries">
                                            <div class="w3-container">
                                                <h3 class="entry-title">
                                                    <a href="{% url 'advert' project.id %}">{{ project.title }}</a>
                                                </h3>
                                                <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ project.created_at|date:"N j Y" }}</h6>
                                                <br><br>
                                                <p>{{ project.description|truncatewords:20 }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 entries">
                                            <a class="button w3-section" href="{{ project.get_environment }}"><i class="fa fa-clipboard fa-fw w3-margin-right" style="color: white"></i>Простір розробки</a>
                                        </div>
                                    </div>
                                {% endif%}
                            {% endfor%}
                        </div>
                        <br>
                        <div class="w3-container w3-card w3-white">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-check-square-o fa-fw w3-margin-right w3-xxlarge" style="color: #1e4356"></i>Мої виконані проекти</h2>
                            {% for project in projects %}
                                {% if project.status == 'Developed' %}
                                    <div class="row">
                                        <div class="col-lg-8 entries">
                                            <div class="w3-container">
                                                <h3 class="entry-title">
                                                    <a href="{% url 'advert' project.id %}">{{ project.title }}</a>
                                                </h3>
                                                <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ project.created_at|date:"N j Y" }}</h6>
                                                <br><br>
                                                <p>{{ project.description|truncatewords:20 }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 entries">
                                            <a class="button w3-section" href="{{ project.get_environment }}"><i class="fa fa-clipboard fa-fw w3-margin-right" style="color: white"></i>Простір розробки</a>
                                        </div>
                                    </div>
                                {% elif project.status == 'Confirmed' %}
                                    <div class="row">
                                        <div class="col-lg-8 entries">
                                            <div class="w3-container">
                                                <h3 class="entry-title">
                                                    <a href="{% url 'advert' project.id %}">{{ project.title }}</a>
                                                </h3>
                                                <h6 style="color: #68A4C4"><i class="fa fa-calendar fa-fw w3-margin-right" style="color: #68A4C4"></i>{{ project.created_at|date:"N j Y" }}</h6>
                                                <br><br>
                                                <p>{{ project.description|truncatewords:20 }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 entries">
                                            <a class="button w3-section" href="{{ project.get_environment }}"><i class="fa fa-clipboard fa-fw w3-margin-right" style="color: white"></i>Простір розробки</a>
                                            <form method="post">
                                                {% csrf_token %}
                                                <button name="download_certificate" value="{{ project }}" class="button w3-section add-btn" type="submit"><i class="fa fa-download fa-fw w3-margin-right" style="color: white"></i>Скачати сертифікат</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
