<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% extends 'home/base.html' %}
{% load static %}
{% block head_title %}{{ advert.title }}{% endblock %}
{% block content %}
    <div class="container-fluid bg-2" style="min-height: 80vh">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        <span class="w3-right w3-opacity" style="font-size: 13px">created: {{ advert.created_at|date:"N j Y" }} | last updated: {{ advert.updated_at|timesince }}</span>
                        <img src="{{ user.client.avatar.url }} " alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <a href="{% url 'users-profile' %}">{{ advert.creator }}</a><br>
                        <hr class="w3-clear">
                        <h3 class="card-title">{{ advert.title }}</h3>
                        <div style="font-size: 18px">
                            {% for subsection in advert.subsections.all %}
                                <span class="tag">{{ subsection }}</span>
                            {% endfor %}
                        </div><br>
                        <p>{{ advert.description }}</p>
                        {% if advert.creator == request.user %}
                            <div class="w3-right">
                                <a class="btn btn-dark btn-lg button" href="{% url 'post_update' advert.id %}">Edit</a>
                                <a class="btn btn-danger btn-dark btn-lg button" href="{% url 'post_delete' advert.id %}">Delete</a>
                            </div><br>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form to leave comment -->
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>Leave a comment</h4>
                    <form method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
                                      name="content" rows="6">{{ form.content.value|default:'' }}</textarea>
                            <button class="btn btn-dark btn-lg button" style="float: right;" type="submit">Reply</button>
                        </div>
                    </form>
                    {% if comments %}
                        Comment{{ comments.count|pluralize }}
                        <span class="badge badge-dark ml-2">{{ comments.count }}</span>
                        {% for comment in comments %}
                            <div class="row">
                                <img src="{{ user.client.avatar.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                <p><span class="w3-large w3-text-black w3-margin-right">{{ comment.author.username }}</span> <small class="w3-opacity">{{ comment.created_at }}</small></p>
                                <p>{{ comment.content }}</p><hr>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}