{% extends 'home/base.html' %}
{% block content %}
    <nav class="w3-sidebar w3-card w3-bar-block w3-white w3-collapse w3-top w3-animate-left" style="display:none;width:250px;margin-top:45px;" id="mySidebar">
        <div class="w3-large w3-text-grey" style="font-weight:bold">
            <form method="GET">
                {% for section in sections %}
                    {% if section.children.exists %}
                        <a href="?section={{ section.title }}" class="w3-button w3-block w3-white w3-left-align">
                            {{ section.title }} <label class="w3-right" style="font-size: 13px">{{ section.get_adverts_in_parent }}</label>
                        </a>
                        {% for subsection in section.children.all %}
                            <div class="w3-medium" style="margin-left: 15px;">
                                <a href="?section={{ subsection.title }}" style="font-size: 14px" class="w3-bar-item w3-button">
                                    {{ subsection.title }} <label class="w3-right" style="font-size: 11px">{{ subsection.get_adverts_in_children}}</label>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="w3-bar-block w3-hide w3-padding-large w3-medium">
                            <a href="?section={{ section.title }}" class="w3-bar-item w3-button">{{ section.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </nav>
    <div class="container-fluid bg-2" style="min-height: 100vh;margin-left:250px;">
        <div class="bgimg-1 w3-display-container w3-opacity-min">
            <div class="w3-display-middle w3-center" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                    ITOLOGY - YOUR
                    <span class="w3-hide-small">IT</span>
                    ASSISTANT
                </span>
                <br>
                <br>
            </div>
        </div>

        {% for advert in adverts %}
            <div class="card-body w3-card-2 w3-margin w3-white">
                <div class="w3-container">
                    <a href="{% url 'advert' advert.id %}">
                        <h3 class="card-title">{{ advert.title }} </h3>
                    </a>
                    {% for section in advert.sections.all %}
                        <span class="tag" style="font-size: 11px;">{{ section }}</span>
                    {% endfor %}
                    <hr>
                    <p class="card-text">{{ advert.description|truncatewords:20 }}</p>
                    <div class="text-right text-muted" style="font-size: 18px"><small>
                        {{ advert.creator }} |
                        created: {{ advert.created_at|date:"N j Y" }}
                    </small></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav class="justify-content-center outer-div" style="margin-left:250px;">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link w3-button w3-black w3-margin-bottom" href="?page={{ page_obj.previous_page_number }}">«</a>
                </li>
            {% else %}
                <li class="page-item w3-disabled">
                    <a class="page-link w3-button w3-black w3-margin-bottom" href="#">«</a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link w3-button w3-margin-bottom w3-black w3-opacity w3-hover-opacity-off" style="margin-left: 5px;" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link w3-button w3-black w3-margin-bottom" style="margin-left: 5px;" href="?page={{ page_obj.next_page_number }}">»</a>
                </li>
            {% else %}
                <li class="page-item w3-disabled">
                    <a class="page-link w3-button w3-black w3-margin-bottom" style="margin-left: 5px;" href="#">»</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
{% endblock %}